h2 {
  animation: none;
}

.summary {
  margin: 50px 10px;
}

.infected,
.recovered,
.deaths {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.timeseries-table {
  max-width: 600px;
  display: inline-block;
}

.country {
  margin-bottom: 20px;
}

.charts {
  min-width: 800px;
  max-width: 800px;
  display: inline-flex;
}
